body{
  margin:0%;
  background-color: rgb(111, 219, 219);
font-family: 'Source Sans Pro', sans-serif; /*google fonts */


}
.navigationbar ul{
  display:flex;
  flex-direction: row;
justify-content: space-around;
margin:2.5%;
padding:5px 5px 5px 5px;

}
.navigationbar ul li{
  display:block;
  list-style: none;
  border-radius: 100%;
}



.navigation ul li::before{
  position: absolute;
  content: "";
  background-color: #00ffff;
  border-radius: 50%
}
.navigationbar ul li:hover .fa{
  color:#00802b;
  transform: rotateY(360deg);
  transition: 0.5s;
}
.navigationbar ul li a {
  text-decoration: none;
  border-radius: 5px;
  font-size:34px;
  overflow: hidden;
  position: relative;



}
.contents{
  display:flex;
  flex-direction: row;
  background-color: 	#00ffff;
  width:100%;
}
.photo{
  background-image: url(../images/543.jpg);
  width:350px;
  height:350px;
  border-radius: 100%;
  transition: 0.5s;
  background-position:center;
  background-size: 100%;
  justify-content: center;
  margin-left:10%;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 5px;



}
.photo:hover{
  background-image: url(../images/543.jpg);
  background-size: 120%;

}
.photo::after{
  content:attr(data-text);
  position:absolute;
  overflow:hidden;
  background-color: rgba(0,0,0,0.6);
  color:white;
  opacity:0;
  transition: 0.5s;
  bottom:40%;
  left:14%;
  text-align: center;
  padding:8px;
}
 .photo:hover::after{
   content:attr(data-text);
   bottom:40%;
   left:14%;
   cursor:pointer;
   transition: 0.7s;
   opacity:1;
   padding:8px

}



.quotes{
  display: flex;
  flex-direction: row;
justify-content: center;
margin-left: 5%;
margin-right: 5px;
padding:6px;
width:50%;
}
.quotes article{
  justify-content: center;
 padding:2%;
 margin:1%;
text-align: center;
font-size: 20px;
}
.work {
  text-align: center;
  width:150px;
  height:150px;
  border-radius: 100%;
  background-color: white;
  opacity:0.6;
margin-top: 80px;
}
.work p{
padding-top:50px;
}
.skills{
  text-align: center;
  width:150px;
  height:150px;
  border-radius: 100%;
  background-color: white;
  opacity:0.6;
  margin-top: 80px;
  margin-left: 20px;
}
.skills p{
  padding-top: 50px;
}
.Footer{
  color:purple;
  font-size: 18px;
  display:flex;
  flex-direction: row;
  width:100%;
}
.follow{
  width:50%;

}

.follow ul{

  display: flex;
  flex-direction: row;
}
.follow ul li{
  list-style: none;
  font-size:34px;
  padding:2px;
  margin:2px;
}

.follow ul li a {
text-decoration: none;
}
.folllow ul li:hover{
  color:blue;
}

.feedback {
  display: flex;
flex-direction: row;
}
.feedback a{
  text-decoration: none;
  font-size:34px;
  justify-content: flex-end;
}

.mero{
  width:100%;
  height:420px;
  background-color:#00ffff;
  display:flex;
  flex-direction: row;
font-size: 18px;
color:purple;
}

.float{
  display: flex;
  flex-direction: column;
  width:50%;
}
.surface{
  width:50%
}
.paragraph{
  padding-left: 15px;
  padding-right: 50px;
text-align: justify;
}
.education{
  padding-left: 15px;
}
.Coreskill{
  padding-left: 15px;
}
.coursework{
  padding-left: 15px;
}
.bio{
  width:50%;
  text-align: justify;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.talents{
width: 50%;
padding: 2px 2px 2px 2px
}
.talents p{
  text-align: center;
}
