body{
font-family: 'Source Sans Pro', sans-serif; /*This is the google font */

}
fieldset{
  width:75%;
  height:370px;
}
.merocontacts{ /*section of the page*/
  display:flex;
  flex-direction: row;
  width:100%;
  background-color: #00ffff;
  height:auto;

}
.form{
  width:80%;
}
.fillform{
width:100%

}
.contactme{
width:50%;
}
.contactphoto img{
  width:200px;
  height:220px;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 8px;
}
.contactme h5{
  color:purple;
  margin-left: 15px;
  margin-bottom: 3px;

}
.contactme ul li{
  margin-top: 3px;

  font-size: 0.9em;
  color:purple;
}
textarea { /* This is the text area for feedback*/
    width: 95%;
    height: 50px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin-bottom: 1px;
    font-size: .9em;

}
input[type=text] /* input section for feedback*/
{
  width: 80%;
     padding: 7px 7px;
     margin: 4px 0;
     box-sizing: border-box;
     border: 2px solid purple;
     border-radius: 5px;

}
input[type=email]{ /* text type Email must invlude @ , if not warning appears*/
  width:80%;
  margin:4px 0;
  padding: 8px 8px;
  box-sizing: border-box;
  border: 2px solid purple;
  border-radius: 5px;
}

input[type=submit] /* Submit buttons which atomatically redirects the feedback*/
{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 6px 6px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
    cursor: pointer;
  }
input[type=submit]:hover { /* This makes submit like a button*/
        background-color: #45a049;
        border-radius: 5px;

    }
input[type=submit]:active .input[type=submit]:hover /* Some 3d button property*/
    {
      border:0;
      border-radius: 5px;


}

@media all and (max-width: 1200px) /* Used to make webite responsive */
{
  fieldset{
    height:auto;

  }
.merocontacts{
  display: flex;
  flex-direction: column;
  width:100%;
}
.contactphoto img
 {
   margin-left: 35%;
   border-radius: 100%;
 }
 .contactme h5{
   margin-left: 15px;
 }
 .contactme ul li{
   margin-left:0;
   font-size: 0.85em;
 }
 input[type=text]{
   width:90%;
 }
 input[type=email]{
   width:90%;
 }
 input[type=submit]{
   width:50%;
 }
}
